In [1]:
import math

from IPython import display
from matplotlib import cm
from matplotlib import gridspec
from matplotlib import pyplot as plt
import numpy as np
import pandas as pd
from sklearn import metrics
import tensorflow as tf
#from tensorflow.python.data import Dataset

tf.logging.set_verbosity(tf.logging.ERROR)
pd.options.display.max_rows = 10
pd.options.display.float_format = '{:.1f}'.format

import pandas as pd
#Importing the popualtion data
population_file = "C:\ML Hackathon\population data.xlsx"
population = pd.read_excel(population_file)
population.head()

,FIPS,State,County,2010 Census Population,"Population Estimate, 2011","Population Estimate, 2012","Population Estimate, 2013","Population Estimate, 2014","Population Estimate, 2015","Population Estimate, 2016"
0,1001,Alabama,Autauga,"54,571","55,255","55,027","54,792","54,977","55,035","55,416"
1,1003,Alabama,Baldwin,"182,265","186,653","190,403","195,147","199,745","203,690","208,563"
2,1005,Alabama,Barbour,"27,457","27,326","27,132","26,938","26,763","26,270","25,965"
3,1007,Alabama,Bibb,"22,915","22,736","22,645","22,501","22,511","22,561","22,643"
4,1009,Alabama,Blount,"57,322","57,707","57,772","57,746","57,621","57,676","57,704"

In [2]:
#code snippet to find the current ipynb directory to upload to github.
!echo %cd% # under windows

C:\Users\kmoudgalya\AnacondaProjects # under windows

In [3]:
population = population.reindex(np.random.permutation(population.index))
population

,FIPS,State,County,2010 Census Population,"Population Estimate, 2011","Population Estimate, 2012","Population Estimate, 2013","Population Estimate, 2014","Population Estimate, 2015","Population Estimate, 2016"
1267,26073,Michigan,Isabella,"70,311","70,661","70,660","70,177","70,059","70,690","71,282"
282,8075,Colorado,Logan,"22,709","22,096","21,846","21,660","21,940","21,946","21,919"
359,12081,Florida,Manatee,"322,833","327,373","334,096","342,246","351,713","363,110","375,888"
2049,39013,Ohio,Belmont,"70,400","70,055","69,612","69,494","69,324","69,039","68,673"
2107,39129,Ohio,Pickaway,"55,698","55,961","56,326","56,416","56,742","56,971","57,565"
...,...,...,...,...,...,...,...,...,...,...
2698,48353,Texas,Nolan,"15,216","15,123","14,881","15,057","15,102","15,050","14,993"
976,20177,Kansas,Shawnee,"177,934","178,908","178,980","178,661","178,509","178,541","178,146"
393,13013,Georgia,Barrow,"69,367","69,860","70,161","71,325","72,982","75,107","77,126"
153,5085,Arkansas,Lonoke,"68,356","69,447","70,101","70,807","71,563","71,697","72,228"
1737,31167,Nebraska,Stanton,"6,129","6,194","6,105","6,090","6,063","5,908","5,944"

In [4]:
#importing the rest of the data
data_file = "C:\ML Hackathon\Consolidated dataset piece.xlsx"
data = pd.read_excel(data_file)
data.head()
data.shape

(3143, 280)

In [5]:
#make sure to take care of leading, trailign 
#and excessive spaces in the column used as the "on" parameter
#to avoid merging Key Errors.
#Also make sure the alignment of the column (left/right/center), is the same in both dataframe
#to avoid the same Key Error.
dataset = pd.merge(data,population, on='FIPS')
dataset = dataset.reindex(np.random.permutation(dataset.index))
dataset

,FIPS,State_x,County_x,"Population, low access to store, 2010","Population, low access to store, 2015","Population, low access to store (% change), 2010 -15","Population, low access to store (%), 2010","Population, low access to store (%), 2015","Low income & low access to store, 2010","Low income & low access to store, 2015",...,"Population-loss counties, 2010",State_y,County_y,2010 Census Population,"Population Estimate, 2011","Population Estimate, 2012","Population Estimate, 2013","Population Estimate, 2014","Population Estimate, 2015","Population Estimate, 2016"
1841,36029,NY,Erie,238054.3,192723.9,-19.0,25.9,21.0,54114.6,51233.8,...,0.0,New York,Erie,"919,040","920,088","920,792","922,150","923,702","922,957","921,046"
2568,48097,TX,Cooke,3344.5,2805.0,-16.1,8.7,7.3,1053.1,908.4,...,0.0,Texas,Cooke,"38,437","38,408","38,771","38,502","38,739","39,110","39,266"
2245,42005,PA,Armstrong,3673.5,5493.6,49.5,5.3,8.0,1023.1,1761.8,...,1.0,Pennsylvania,Armstrong,"68,941","68,645","68,367","68,095","67,660","66,953","66,486"
2320,45011,SC,Barnwell,513.5,513.8,0.1,2.3,2.3,188.7,210.1,...,1.0,South Carolina,Barnwell,"22,621","22,412","22,295","22,144","21,959","21,706","21,483"
1544,29125,MO,Maries,503.0,527.7,4.9,5.5,5.8,149.3,189.6,...,0.0,Missouri,Maries,"9,176","9,216","9,053","9,070","8,998","8,958","8,858"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2041,38105,ND,Williams,4783.0,4762.9,-0.4,21.4,21.3,933.7,870.7,...,1.0,North Dakota,Williams,"22,398","24,407","26,741","29,608","32,143","35,387","34,337"
1968,37159,NC,Rowan,32737.2,34164.1,4.4,23.6,24.7,12245.1,14536.0,...,0.0,North Carolina,Rowan,"138,428","137,996","137,832","138,126","138,558","139,021","139,933"
228,6087,CA,Santa Cruz,42380.4,36861.6,-13.0,16.2,14.0,10587.3,9975.1,...,0.0,California,Santa Cruz,"262,382","264,896","266,435","268,948","270,971","273,627","274,673"
1224,25017,MA,Middlesex,402117.4,373153.2,-7.2,26.8,24.8,43681.1,44992.8,...,0.0,Massachusetts,Middlesex,"1,503,085","1,523,717","1,540,330","1,556,956","1,569,953","1,581,037","1,589,774"
2852,51073,VA,Gloucester,3765.0,3765.0,0.0,10.2,10.2,807.8,1058.0,...,0.0,Virginia,Gloucester,"36,858","36,904","36,909","36,806","37,120","37,058","37,214"

In [34]:
#taking care of empty values in the dataset
#converting to excel to check empty cells using filter
writer = pd.ExcelWriter('C:\ML Hackathon\pandas_output1.xlsx', engine='xlsxwriter')
dataset.to_excel(writer, sheet_name='Sheet1')
writer.save()

In [35]:
#dropping all columns containing "%"
dataset2 = dataset[dataset.columns.drop(list(dataset.filter(regex='%')))]

In [36]:
#saving new dataset which doesnt have column names containing "%"
writer = pd.ExcelWriter('C:\ML Hackathon\pandas_output2.xlsx', engine='xlsxwriter')
dataset2.to_excel(writer, sheet_name='Sheet1')
writer.save()
#THERE ARE SO MANY BLANK CELLS!

In [2]:
from sklearn import tree
#edited specific a cell containing a numer classified as string in excel to numeric
data_file = "C:\ML Hackathon\pandas_output2.xlsx"
dataset = pd.read_excel(data_file)
Y = dataset[["Grocery stores, 2014"]]
#dataset[["Grocery stores, 2014"]]
#X = dataset.drop(['Grocery stores, 2014'])
X = dataset.drop(columns = ["Grocery stores, 2014"])

In [24]:
#dealing with missing values
#print(X.isnull().sum())
X1 = X
X1 = X.fillna(X.median())
print(X1.isnull().sum())
writer1 = pd.ExcelWriter(r'C:\ML Hackathon\filled_nas_median.xlsx', engine='xlsxwriter')
X1.to_excel(writer1, sheet_name='Sheet1')
writer1.save()

FIPS                                      0
Population, low access to store, 2010     0
Population, low access to store, 2015     0
Low income & low access to store, 2010    0
Low income & low access to store, 2015    0
                                         ..
Population Estimate, 2012                 0
Population Estimate, 2013                 0
Population Estimate, 2014                 0
Population Estimate, 2015                 0
Population Estimate, 2016                 0
Length: 162, dtype: int64

In [3]:
X2 = X
print(X2.isnull().sum())
X2[['Population, low access to store, 2010','Population, low access to store, 2015']]
X2[['Population, low access to store, 2015']] = X2.apply(
    lambda row: row['Population, low access to store, 2010'] if np.isnan(row['Population, low access to store, 2015']) else row['Population, low access to store, 2015'],
    axis = 1
)
#filled 'Population, low access to store, 2015' with 'Population, low access to store, 2010' values
#wherever blank, assuming no change.

X2[['Low income & low access to store, 2015']] = X2.apply(
    lambda row: row['Low income & low access to store, 2010'] if np.isnan(row['Low income & low access to store, 2015']) else row['Low income & low access to store, 2010'],
    axis = 1
)
#filled 'Low income & low access to store, 2015' with 'Low income & low access to store, 2010' values
#wherever blank, assuming no change.

X2[['Households, no car & low access to store, 2015']] = X2.apply(
    lambda row: row['Households, no car & low access to store, 2010'] if np.isnan(row['Households, no car & low access to store, 2015']) else row['Households, no car & low access to store, 2010'],
    axis = 1
)
#filled 'Households, no car & low access to store, 2015' with 'Households, no car & low access to store, 2010' values
#wherever blank, assuming no change.

X2[['Children, low access to store, 2015']] = X2.apply(
    lambda row: row['Children, low access to store, 2010'] if np.isnan(row['Children, low access to store, 2015']) else row['Children, low access to store, 2010'],
    axis = 1
)
#filled 'Children, low access to store, 2015' with 'Children, low access to store, 2010' values
#wherever blank, assuming no change.
    
X2[['SNAP-authorized stores, 2016']] = X2.apply(
    lambda row: row['SNAP-authorized stores, 2012'] if np.isnan(row['SNAP-authorized stores, 2016']) else row['SNAP-authorized stores, 2012'],
    axis = 1
)
#filled 'SNAP-authorized stores, 2016' with 'SNAP-authorized stores, 2012' values
#wherever blank, assuming no change.

X2[['SNAP-authorized stores/1,000 pop, 2016']] = X2.apply(
    lambda row: row['SNAP-authorized stores/1,000 pop, 2016']/row['Population Estimate, 2016'] if np.isnan(row['SNAP-authorized stores/1,000 pop, 2016']) else row['SNAP-authorized stores/1,000 pop, 2016'],
    axis = 1
)
#filled 'SNAP-authorized stores/1,000 pop, 2016' divided by 'Population Estimate, 2016'
#wherever blank

FIPS                                      0
State_x                                   0
County_x                                  0
Population, low access to store, 2010     0
Population, low access to store, 2015    19
                                         ..
Population Estimate, 2012                 0
Population Estimate, 2013                 0
Population Estimate, 2014                 0
Population Estimate, 2015                 0
Population Estimate, 2016                 0
Length: 165, dtype: int64

In [7]:
#filling the missing values in the below columns in code with their medians.
#X2['SNAP households, low access to store, 2015'] = X2['SNAP households, low access to store, 2015'].fillna((X2['SNAP households, low access to store, 2015'].median())
#THERE HAS TO BE A BETTER WAY TO DO THIS!
X2['SNAP households, low access to store, 2015'].fillna((X2['SNAP households, low access to store, 2015'].median()), inplace=True)                                                                                                           
X2['Seniors, low access to store, 2015'].fillna((X2['Seniors, low access to store, 2015'].median()), inplace=True)
X2['White, low access to store, 2015'].fillna((X2['White, low access to store, 2015'].median()), inplace=True)                                                                                                           
X2['Black, low access to store, 2015'].fillna((X2['Black, low access to store, 2015'].median()), inplace=True)                                                                                                           
X2['Hispanic ethnicity, low access to store, 2015'].fillna((X2['Hispanic ethnicity, low access to store, 2015'].median()), inplace=True)
X2['Asian, low access to store, 2015'].fillna((X2['Asian, low access to store, 2015'].median()), inplace=True)
X2['American Indian or Alaska Native, low access to store, 2015'].fillna((X2['American Indian or Alaska Native, low access to store, 2015'].median()), inplace=True)
X2['Hawaiian or Pacific Islander, low access to store, 2015'].fillna((X2['Hawaiian or Pacific Islander, low access to store, 2015'].median()), inplace=True)
X2['Multiracial, low access to store, 2015'].fillna((X2['Multiracial, low access to store, 2015'].median()), inplace=True)
X2['SNAP redemptions/SNAP-authorized stores, 2012'].fillna((X2['SNAP redemptions/SNAP-authorized stores, 2012'].median()), inplace=True)
X2['SNAP redemptions/SNAP-authorized stores, 2016'].fillna((X2['SNAP redemptions/SNAP-authorized stores, 2016'].median()), inplace=True)
X2['SNAP benefits per capita, 2010'].fillna((X2['SNAP benefits per capita, 2010'].median()), inplace=True)
X2['SNAP benefits per capita, 2015'].fillna((X2['SNAP benefits per capita, 2015'].median()), inplace=True)
X2['Median household income, 2015'].fillna((X2['Median household income, 2015'].median()), inplace=True)
X2['Poverty rate, 2015'].fillna((X2['Poverty rate, 2015'].median()), inplace=True)
X2['Child poverty rate, 2015'].fillna((X2['Child poverty rate, 2015'].median()), inplace=True)
X2['WIC redemptions per capita, 2008'].fillna((X2['WIC redemptions per capita, 2008'].median()), inplace=True)
X2['WIC redemptions per capita, 2012'].fillna((X2['WIC redemptions per capita, 2012'].median()), inplace=True)
X2['WIC redemptions/WIC-authorized stores, 2008'].fillna((X2['WIC redemptions/WIC-authorized stores, 2008'].median()), inplace=True)
X2['WIC redemptions/WIC-authorized stores, 2012'].fillna((X2['WIC redemptions/WIC-authorized stores, 2012'].median()), inplace=True)
X2['Price of low-fat milk/national average, 2010**'].fillna((X2['WIC redemptions/WIC-authorized stores, 2012'].median()), inplace=True)
X2['Price of sodas/national average, 2010**'].fillna((X2['WIC redemptions/WIC-authorized stores, 2012'].median()), inplace=True)
X2['Price of low-fat milk/price of sodas, 2010**'].fillna((X2['WIC redemptions/WIC-authorized stores, 2012'].median()), inplace=True)

#filling in mode
X2['Population-loss counties, 2010'].fillna((X2['Population-loss counties, 2010'].mode()), inplace=True)
X2['Farm to school program, 2009'].fillna((X2['Farm to school program, 2009'].mode()), inplace=True)
X2['Farm to school program, 2013'].fillna((X2['Farm to school program, 2013'].mode()), inplace=True)

#fillinf rest in as medians
X2 = X2.fillna(X2.median())

In [8]:
writer3 = pd.ExcelWriter(r'C:\ML Hackathon\final_data.xlsx', engine='xlsxwriter')
X2.to_excel(writer3, sheet_name='Sheet1')
writer3.save()

In [7]:
X1 = X.iloc[:,3:]
X1

,"Population, low access to store, 2010","Population, low access to store, 2015","Low income & low access to store, 2010","Low income & low access to store, 2015","Households, no car & low access to store, 2010","Households, no car & low access to store, 2015","SNAP households, low access to store, 2015","Children, low access to store, 2010","Children, low access to store, 2015","Seniors, low access to store, 2010",...,"Population-loss counties, 2010",State_y,County_y,2010 Census Population,"Population Estimate, 2011","Population Estimate, 2012","Population Estimate, 2013","Population Estimate, 2014","Population Estimate, 2015","Population Estimate, 2016"
2105,3713.6,1410.5,1898.7,847.2,790.5,603.9,168.6,1094.1,420.4,456.2,...,1.0,Ohio,Perry,36058,36207,35991,35977,35886,35952,35927
335,33564.7,33041.2,9805.7,12181.4,861.3,913.0,1255.1,6984.0,6912.4,8236.2,...,0.0,Florida,Flagler,95696,97412,98605,100013,102471,105188,108310
561,605.2,618.5,267.3,307.7,6.7,9.1,28.7,199.2,202.4,74.5,...,0.0,Idaho,Butte,2891,2805,2722,2626,2609,2501,2501
358,74391.9,70204.9,18524.6,20565.0,1306.1,1547.7,2335.4,12245.0,11756.4,21417.0,...,0.0,Florida,Manatee,322833,327373,334096,342246,351713,363110,375888
1145,6896.4,6826.5,3895.5,4231.9,687.0,726.3,628.1,1724.0,1650.6,1035.6,...,0.0,Louisiana,Morehouse,27979,27502,27454,27012,26732,26428,26071
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
382,150118.3,171051.0,46275.0,65618.8,4667.7,5391.8,10032.3,28107.3,32026.7,31981.6,...,0.0,Florida,Volusia,494593,494523,497279,501282,507913,518190,529364
967,35861.6,30210.8,15461.5,14112.9,752.7,573.1,507.0,7442.0,6414.0,2375.0,...,0.0,Kansas,Riley,71115,73338,76273,75502,74698,75312,73343
2094,4990.5,3889.0,2405.2,1733.2,515.4,444.5,505.9,1148.9,893.9,828.9,...,0.0,Ohio,Meigs,23770,23699,23602,23467,23329,23203,23125
2098,158183.2,142425.9,48711.6,51209.3,5848.6,6154.2,9404.9,38068.7,34595.0,25256.9,...,1.0,Ohio,Montgomery,535153,534882,534692,534126,532183,531567,531239
2016,4944.0,4944.0,1291.1,1333.1,67.2,99.8,89.9,992.9,992.9,1053.1,...,0.0,North Dakota,McLean,8962,9086,9384,9474,9565,9729,9729

In [6]:
#converting data to float after rounding to 3 digits post decimal

Y = Y.round(3)
X = X.round(3)
X = dataset.drop(columns = ["State_x","County_x","State_y","County_y"])
X.isnull().any()
#X1 = X.iloc[:,3:]
#X1 = X1.round(3)
#X2 = X.iloc[:,0:3]
#X1 = X1.astype(float)
#X = pd.merge(X2,X1)
#Y = Y.astype(float)

FIPS                                      False
Population, low access to store, 2010     False
Population, low access to store, 2015      True
Low income & low access to store, 2010    False
Low income & low access to store, 2015     True
                                          ...
Population Estimate, 2012                 False
Population Estimate, 2013                 False
Population Estimate, 2014                 False
Population Estimate, 2015                 False
Population Estimate, 2016                 False
Length: 162, dtype: bool

In [9]:
#creating training,testing and validation split
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2, random_state = 1)
X_train, X_val, Y_train, Y_val = train_test_split(X_train, Y_train, test_size = 0.2, random_state = 1)

#defining models
#missing values in the dataset will lead to the following errror:
#Input contains NaN, infinity or a value too large for dtype('float32')
tree_model1 = tree.DecisionTreeRegressor(max_depth = 2)
tree_model2 = tree.DecisionTreeRegressor(max_depth = 5)
tree_model3 = tree.DecisionTreeRegressor(max_depth = 10)

#fitting models
tree_model1 = tree_model1.fit(X_train, Y_train)
tree_model2 = tree_model2.fit(X_train, Y_train)
tree_model3 = tree_model3.fit(X_train, Y_train)

#testing models
Y1 = tree_model1.predict(X_test)
Y2 = tree_model2.predict(X_test)
Y3 = tree_model3.predict(X_test)

#validating models
V1 = tree_model1.predict(X_val)
V2 = tree_model2.predict(X_val)
V3 = tree_model3.predict(X_val)

ValueError: Input contains NaN, infinity or a value too large for dtype('float32').

FIPS                                      False
Population, low access to store, 2010     False
Population, low access to store, 2015      True
Low income & low access to store, 2010    False
Low income & low access to store, 2015     True
                                          ...
Population Estimate, 2012                 False
Population Estimate, 2013                 False
Population Estimate, 2014                 False
Population Estimate, 2015                 False
Population Estimate, 2016                 False
Length: 162, dtype: bool